@import "~react-image-gallery/styles/css/image-gallery.css";


/*  */
  * {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
  }
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #000;
  }
  
  .sidebar .nav-link.active {
    color: #fff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  .nav-link {
    color: #fff !important;
    display: block;
    padding: 0.5rem 1rem;
}
  /*
   * Utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  button.navbar-toggler {
    color: #fff !important;
    background: #fff !important;
}
button.navbar-toggler.collapsed{
  color: #fff !important;
    background: #fff !important;
}
.cursor-pointer{
cursor: pointer;
}
.li-width{
  width:100% !important;
}
.li-head-header{
  border:1px solid rgba(0, 0, 0, 0.125);
    padding: 4px 6px 6px 6px;
}
#sticky-footer {
  flex-shrink: none;
  color:#fff !important;
}
.fa-ic-color{
  color:#fff !important;
}
.errorMsg{
  color:red;
  font-size: 14px;
}
.min-page-container
{
  /* min-height:95vh !important; */
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
   width: 100%;
  color: white;
  text-align: center;
}
.ag-theme-material .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected), .ag-theme-material .ag-ltr .ag-has-focus .ag-cell-focus.ag-cell-range-single-cell, .ag-theme-material .ag-ltr .ag-cell-focus.ag-cell-range-single-cell.ag-cell-range-handle, .ag-theme-material .ag-rtl .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected), .ag-theme-material .ag-rtl .ag-has-focus .ag-cell-focus.ag-cell-range-single-cell, .ag-theme-material .ag-rtl .ag-cell-focus.ag-cell-range-single-cell.ag-cell-range-handle{
  border:none !important;
}
.btn-pointer{
  cursor: pointer !important;
}
button.btn.btn-default {
  border: 1px solid #0000004d;
  margin-left: 10px;
}
.has-error{
  /* border:1px solid red; */
}
.logo-img{
  width:100px !important;
  height:60px !important;
}
.logo-img-sm{
  width:70px !important;
  height:60px !important;
}
@media (min-width: 576px)
{
.d-sm-block-device {
    /* display: block !important; */
    height: 211px;
}
}
@media (min-width: 576px) { 
  .d-sm-block-device {
    /* display: block !important; */
    height: 200px;
}
 }

@media (min-width: 768px) { 
  .d-sm-block-device {
    /* display: block !important; */
    height: 100%;
    height:auto !important;
}
 }

@media (min-width: 992px) { 
  .d-sm-block-device {
    /* display: block !important; */
    height: 100%;
    height:auto !important;
}
 }

@media (min-width: 1200px) { 
  .d-sm-block-device {
    /* display: block !important; */
    height: 100%;
}
 }
 .success_color{
   color:green;
   font-weight: bold;
 }
 .red_color{
   color:red;
   font-weight: bold;
 }
 .red_color_toast{
   background:red;
   color:#fff;
 }
 .yellow_color{
   color:green;
   font-weight: bold;
 }
 .bg-blue{
  background: #5bb4ebe3 !important;
  color:#000 !important;
}
.bg-blue-footer{
  background: #a8dbfae3 !important;
  color:#000 !important;
}
 .sub-btn-List{
  background:#0091ea42;
  color:#000 !important;
 }
 .setting-list{
  font-size: 12px;
  overflow-y: auto;
  max-height: 250px;
 }

 .content-feild-set{
  border:solid 2px #D6D6D6;padding:5px;margin-bottom:15px; border-radius:10px;
  -webkit-box-shadow: 10px -8px 19px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px -8px 19px -8px rgba(0,0,0,0.75);
  box-shadow: 10px -8px 19px -8px rgba(0,0,0,0.75);
  
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
 }
.panel-heading {
    color: #fff;
    background-color: #5e95c3;
    border-color: #5e95c3;
    border-radius: 10px;
    padding-left: 10px;
}

.login-block-background{
  background: rgba(201,233,255,1);
  background: -moz-linear-gradient(top, rgba(201,233,255,1) 0%, rgba(240,246,250,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(201,233,255,1)), color-stop(100%, rgba(240,246,250,1)));
  background: -webkit-linear-gradient(top, rgba(201,233,255,1) 0%, rgba(240,246,250,1) 100%);
  background: -o-linear-gradient(top, rgba(201,233,255,1) 0%, rgba(240,246,250,1) 100%);
  background: -ms-linear-gradient(top, rgba(201,233,255,1) 0%, rgba(240,246,250,1) 100%);
  background: linear-gradient(to bottom, rgba(201,233,255,1) 0%, rgba(240,246,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9e9ff', endColorstr='#f0f6fa', GradientType=0 );
  }

  .bg-login-panel {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login-background {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 1px 3px 21px 0px rgba(166,189,245,1);
  -moz-box-shadow: 1px 3px 21px 0px rgba(166,189,245,1);
  box-shadow: 1px 3px 21px 0px rgba(166,189,245,1);
}

login-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
  background: -moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -o-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
  background-color: #79bbff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.login-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
  background: -moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -o-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
  background-color: #79bbff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}

.login-panel {
  margin-top: 15%;
}
